.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #003CA3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 998;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}